@import "tailwindcss";


body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #fff;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

.gradient-bg {
  background: #f06;
  background: radial-gradient(
    circle at 0% 0%,
    rgb(104 57 232) 0%,
    rgb(197 66 238) 50%,
    rgb(255 115 112) 100%
  );
}

